* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
}
#Read-More {
    color: white;
    background-color: black;
}
img {
    width: 255px;
    height: 170px;
    object-fit: cover;
}
p {
    display: inline-block;
    weight: 50%

}

header {
    height: 600px;
    background-color: purple;
   background-image: url("./photo1.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   padding: 180px
   ;

}
