* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
}

    

.Text1 {
    display: inline-block;
    width: 25%;
    height: 300px;
    background-color: grey;
}
h3 {
    padding: 20px
}
p {
    padding: 15px;
    display: inline-block;
}

button {
    color: white;
    background-color: black;
}
img {
    width: 255px;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
}
header {
    height: 600px;
    background-color: purple;
   background-image: url("./photo1.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   padding: 180px;

}
